/* IDE-specific */
.vscode/
.idea/
*.swp
*.swo

/* CMake build directory */
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

/* JUCE-specific (These are usually generated) */
Builds/
JuceLibraryCode/
JUCE_sequencer_artefacts/

/* Build artifacts */
bin/
obj/
*.o
*.obj
*.pdb
*.suo
*.user
*.ncb
*.vcproj
*.sln
*.vcxproj
*.filters
